@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

/* This ensures the background color and fonts apply to the whole app */
body {
  @apply bg-gray-100 text-gray-900 antialiased;
}
@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }
  /* Show only the element with the ID 'printable-paper' and its children */
  #printable-paper, #printable-paper * {
    visibility: visible;
  }
  /* Position the paper at the top left of the printed page */
  #printable-paper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
  }
}